/* Job List Styling */
.job-list.container {
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: #f9f9f9;
    margin-top: 5rem;
  }
  
  .job-list__container {
    display: flex;
    width: 100%;
    max-width: 1200px;
  }
  
  .job-list__sidebar {
    width: 40%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-right: 2rem;
    height: 60vh;
    overflow-y: auto;
  }
  
  .job-list__item {
    padding: 1rem;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .job-list__item:hover {
    background-color: #0078ff;
    color: white;
  }
  
  .job-list__details {
    width: 60%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    height: 60vh;
    overflow-y: auto;
  }
  
  .job-list__details h2,
  .job-list__details h3 {
    color: #333;
  }
  
  .job-list__details ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .job-list__details ul li {
    margin-bottom: 0.5rem;
  }
  
  .job-list__details p {
    color: #555;
    line-height: 1.6;
  }
  
  .job-list__sidebar h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
  
  .job-list__details h4 {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  
  .apply-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #0078ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
    margin-left: 20px;
  }
  
  .apply-btn:hover {
    background-color: #005bb5;
  }

  .job-list__item--selected {
    background-color: #0078ff;
    color: white;
    font-weight: bold;
  }


body.dark-mode .job-list__container {
  background-color: #444;
  color: white; 
}

body.dark-mode .job-list.container {
  background-color: #444;
  color: white; 
}


body.dark-mode .description {
    color: white;
}

body.dark-mode .services__info {
    color: white;
}

body.dark-mode .job-list__details-company {
  color: #333;
}
  