/* Social Media Container */
.social-media-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px 0;
  width: 100%;
  text-align: center;
  z-index: 1000;
  transition: background-color 0.3s ease;
}



/* List Style */
.social-media-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* Social Media Icon Style */
.social-media-list li {
  display: inline-block;
}

.social-icon {
  font-size: 2rem;
  color: #333; /* Default icon color for light mode */
  transition: color 0.3s ease;
}

/* Dark Mode icon color */
body.dark-mode .social-icon {
  color: #fff; /* White icons for dark mode */
}

/* Hover effect */
.social-icon:hover {
  color: #007BFF; /* Blue hover color */
}

body.dark-mode .social-icon:hover {
  color: #1E90FF;
}

.social-media-list a {
  text-decoration: none;
}