.social-media-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 0;
  width: 100%;
  text-align: center;
  z-index: 1000;
}

/* List Style */
.social-media-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* Social Media Icon Style */
.social-media-list li {
  display: inline-block;
}

.social-icon {
  font-size: 2rem;
  color: black;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #007BFF; /* Color for hover effect */
}

.social-media-list a {
  text-decoration: none;
}
