.account-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh 0;
    background-color: var(--container-color);
}

.form-container {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 1rem;
    color: #333;
}

.input-field {
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.form-button {
    width: 100%;
    padding: 0.8rem;
    margin: 1rem 0;
    background-color: var(--first-color);
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    color:hsl(0, 0%, 0%);
}

.toggle-text {
    font-size: 0.9rem;
    color: #000000;
}

.toggle-link {
    color: var(--first-color);
    cursor: pointer;
    font-weight: bold;
}

.toggle-link:hover {
    text-decoration: underline;
}