@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.meet-the-team {
    font-family: 'Roboto', sans-serif;
    padding: 2rem;
    margin-top: 16rem;
    text-align: center;
}


.team-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333; /* White text for both light and dark modes */
    margin-bottom: 2rem;
    margin-top: 5rem;
}

body.dark-mode .team-title {
    color: #f9f9f9;
}

body.dark-mode .about__data {
    background-color: #444; /* Dark gray background for description box */
    color: white; /* Light text color for dark mode */
}

body.dark-mode .description {
    color: white; /* Light text color for dark mode */
}

body.dark-mode .services__info {
    color: white; /* Light text color for dark mode */
}


.about__data {
    padding: 1.875rem;
    background-color: #f9f9f9;
    box-shadow: var(--shadow);
    border-radius: 0.99rem;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    position: relative;
    justify-content: center;
}


.team-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}


.team-card {
    background-color: #0078ff; /* Default Blue */
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 1.5rem;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.team-name {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    margin-bottom: 0.5rem;
}

.team-major {
    font-size: 1rem;
    font-weight: 500;
    color: white;
    margin-bottom: 1rem;
}

.team-description {
    font-size: 0.9rem;
    color: black;
    line-height: 1.4;
}

.services__info {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    color: #333; /* Default text color */
    margin-top: 8rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    .meet-the-team {
        padding: 1rem;
    }

    .team-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}