.about__container {
    grid-template-columns: 3fr 9fr;
    column-gap: 1.875rem;
    padding: 1.5rem;
}

.about__data {
    padding: 1.875rem;
    background-color: white;
    box-shadow: var(--shadow);
    border-radius: 0.99rem;
    width: 100%;
    grid-template-columns: 1fr;
    align-items: flex-start;
    position: relative;
}

.about {
    min-height: 100vh;
}